@import "../../variables";
.progress-bar {
  position: relative;
  height: 100%;
  width: 100%;
  border: 2px solid $pink;
  background-color: $blue;

  &--filler {
    height: 100%;
    border-radius: inherit;
    transition: width 0.1s ease-in;
    background-color: $pink;
  }
}
