
@import "variables";
body {
  background-color: $blue;
  color: $pink;
}
.overflowY-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.border { 
    border: 1px solid $pink;
    margin: -2px;
}
.bg-pink {
    background-color: $pink;
}
.text-dark {
    color: $blue;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $pink;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

@mixin create-w-classes($modifier, $width) {
  &.w#{$modifier} {
    width: percentage($width);
  }
}

@each $modifier, $width in $map-width-props {
  @include create-w-classes($modifier, $width);
}
@mixin create-h-classes($modifier, $height) {
  &.h#{$modifier} {
    height: percentage($height);
  }
  &.max-h#{$modifier} {
    max-height: percentage($height);
  }
}
@each $modifier, $height in $map-width-props {
  @include create-h-classes($modifier, $height);
}
@mixin create-vh-classes($modifier, $height) {
  &.vh#{$modifier} {
    height: $height * 100 + vh;
  }
  &.max-vh#{$modifier} {
    max-height: $height * 100 + vh;
  }
}
@each $modifier, $height in $map-width-props {
  @include create-vh-classes($modifier, $height);
}


@mixin create-m-classes($modifier, $size) {
  &.mt-#{$modifier} {
    margin-top: $size + em;
  }
}
@each $modifier, $height in $map-margin-props {
  @include create-m-classes($modifier, $height);
}

