$pink: #f97268;
$blue: #00263e;

$map-width-props: (
  "-100": 1,
  "-75": 0.75,
  "-50": 0.5,
  "-25": 0.25
);
$map-margin-props: (
  "0": 0,
  "1": 0.5,
  "2": 0.75,
  "3": 1,
  "4": 1.5,
  "5": 2
);
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;

$map-grid-props: (
  "": 0,
  "-sm": $grid__bp-sm,
  "-md": $grid__bp-md,
  "-lg": $grid__bp-lg,
  "-xl": $grid__bp-xl
);
